btop/
dconf/
go/
gtk-3.0/
gdb/
htop/
nautilus/
nvim/
pulse/
rog/
yay/
godot/
user-dirs.dirs
user-dirs.locale
create-next-app-nodejs/
nextjs-nodejs/
Fritzing/
gcloud/
matplotlib/
obs-studio/
pulse/
unity3d/
unityhub/
ardour8/
chromium/
gtk-2.0/
pavucontrol.ini
QtProject.conf
mimeapps.list
